# LaTeX temporary files
*.aux
*.log
*.out
*.toc
*.lot
*.lof
*.bbl
*.blg
*.synctex.gz
*.synctex
*.fls
*.fdb_latexmk
*.pdfsync
*.dvi
*.ps
*.nav
*.snm
*.vrb
*.run.xml
*.bcf
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.xdy
*.loa
*.ltx
*.lzo
*.slg
*.slt
*.ent
*.xml
*.bbl
*.bcf
*.idx
*.ilg
*.ind
*.nlo
*.nls
*.npx
*.pyg
*.synctex(busy)
*.synctex.gz(busy)
*.tex~